
#root {
  max-width: 1280px;
  margin:  2vw auto;
  /* padding: 1rem; */
  /* text-align: center; */
}
/* .word-section {
} */
.word {
  /* color: rgb(94, 100, 114); */
  color: rgb(79, 81, 101);
  font-weight: bolder;
  text-align: center;

}

.lighter {
  color: rgb(109, 114, 117);


}
.audio {
  display: flex;
  justify-content: space-between;
  align-content: start;
}


.navbarr {
  display: flex;
  border: 1px solid rgb(223, 231, 253);
  /* position: relative; */
  /* top:1vh; */
  /* left: 0; */
  /* right: 0; */
  /* background-color: rgb(209, 221, 252); */
  background-color: rgb(214, 226, 255);

  
}

.wrong-char {
  color: rgb(231, 198, 255)
}

.correct-char {
  color: rgb(200, 182, 255)
}

.audio-summary {

  display: flex;
  width: 200px;

}

.leaderboard {
  width: 80vw;
  font-size: 2vw;
}


.relative-section {
  position: relative;
}
.form-heading {
  position: absolute;
  top: 20px;
  left:40px;

}
.user-form {
  position: absolute;
  top: 70px;
  left: 50px;
}


.home-heading {
  position: absolute;
  top: 30px;
  left: 25px;
  font-size: 18px;
  color: rgb(79, 81, 101);
}

.home2-heading {
  position: absolute;
  top: 60px;
  left: 25px;
  font-size: 18px;
  color: rgb(79, 81, 101);
}

.start-below {
  margin-top: 70px;
}

.home-cards {
  margin-bottom: 5px;
}

.word-cards {
  background-color: #C6D8FF;
  border: outset #BBD0FF;
}

.card-header {
  background-color: #BBD0FF;
}

.section-marg {
  padding: 2rem;
  border: solid #0E0E52;
}

.cuppies {
  padding: 1rem;
}

.rules-button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
.letters-button {
  margin: 1px;
  color:#FF93FF;

}

.wrong-guesses {
  border: none;
  background-color: #FFF6FF;;
}