
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 1rem; */
  /* text-align: center; */
}
/* .word-section {
} */
.word {
  /* color: rgb(94, 100, 114); */
  color: rgb(79, 81, 101);
  font-weight: bolder;
  text-align: center;

}

.lighter {
  color: rgb(109, 114, 117);


}
.audio {
  display: flex;
  justify-content: space-between;
  align-content: start;
}


.navbarr {
  display: flex;
  border: 1px solid rgb(223, 231, 253);
  position: fixed;
  top:1vh;
  left: 0;
  right: 0;
  /* background-color: rgb(209, 221, 252); */
  background-color: rgb(214, 226, 255);

  
}

.wrong-char {
  color: rgb(231, 198, 255)
}

.correct-char {
  color: rgb(200, 182, 255)
}

.audio-summary {

  display: flex;
  width: 200px;

}

.leaderboard {
  width: 80vw;
  font-size: 2vw;
}

.folder {
  display: flex;
  /* position: relative; */
  align-items: center;
}
.signup-section {
  position: relative;
}
.form-heading {
  position: absolute;
  top: 20px;
  left:40px;

}
.user-form {
  position: absolute;
  top: 70px;
  left: 50px;
}



